

body,#root,.App-header, html {
    height: 100%;
    margin:0;
    width: 100%;
    
}

/* css for StudentLogin and ForgotPassword page */

.bg{
    background-image: url("./assets/hostel.jpg") ;
    height: 100%;  
 /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
  opacity : 0.9;
  overflow:auto
}

.login{
  padding:4%;
  margin : auto;
  border:1px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0,0, 0.5);
  color:white;
 
  
}

.brand{
padding:3%;
text-align: center;
font-size:30px;

}

